div.renderer {
    height: 100%;
    position: relative;
}

div.overlay {
    position: absolute;
    top: 8px;
    left: 8px;
    width: auto;
    max-width: 75ch;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: var(--pad);
    gap: var(--rad);
    border-radius: var(--rad);
    background-color: var(--glass);
    backdrop-filter: blue(var(--pad));
}